* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for visualizing */
  /* border: solid; */
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template: 1fr 4fr / minmax(0, 1fr) 4fr;
  height: 100%;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #1992d4;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(auto-fill, 34px);
  align-items: center;
  color: white;
  overflow: hidden;
}
.sidebar .logo:first-child img[alt="logo"] {
  height: 40px;
  filter: invert();
}
.sidebar .logo:not(:first-child) img[alt="logo"] {
  height: 25px;
  filter: invert();
}
.dashboard {
  font-size: 1.5rem;
}

.logo {
  justify-self: center;
}

.header {
  background-color: #ffffff;
  grid-area: 1 / 2 / 2 / 3;
}

.main {
  background-color: #e2e8f0;
  grid-area: 2 / 2 / 3 / 3;
}
